Repository containers/skopeo, pull requests merged in 2023-02, with the labels that each got.

#1816 [CI:BUILD] copr: fix el8 build
  skopeo.spec.rpkg
Labels: bug

#1822 Use common library reporter
  cmd/skopeo/inspect.go
  docs/skopeo-inspect.1.md
Labels: kind/feature

#1908 Fix some warnings
  cmd/skopeo/list_tags.go
  cmd/skopeo/main.go
  integration/check_test.go
  integration/copy_test.go
  integration/proxy_test.go
  integration/registry.go
  integration/sync_test.go
  integration/utils.go
Labels: kind/bug
